table {
    border-collapse: collapse;
    width: 700px;
}

th, td {
    text-align: left;
    padding: 8px;
    color: black;
}

tr:nth-child(even){background-color: #b9def0}



th {
    background-color: #5bc0de;

}



